<%- include("partials/header"); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Compose</h1>
            <span class="subheading">Compose a blog Post</span>
          </div>
        </div>
      </div>
    </div>
  </header>


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Fill in the blogpost details Here</p>
                <form name="sentMessage" action="/compose" method="post" id="contactForm" enctype="multipart/form-data" novalidate>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Name of the author</label>
                            <input type="text" class="form-control" placeholder="author" id="name" name="author"  required
                                data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Blog Post creation date</label>
                            <input type="date" class="form-control" placeholder="date" id="date" name="date" required
                                data-validation-required-message="Please enter the date.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Blog Post Title</label>
                            <input type="text" class="form-control" placeholder="blog-Title" id="email" name="title" required
                                data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Blog Post image</label>
                            <input type="file" class="form-control" placeholder="image" id="image" name="postPic" required
                                data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Blog Post SubTitle</label>
                            <input type="text" class="form-control" placeholder="SubTitle.." id="phone" name="SubTitle" required
                                data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Blog-Post content</label>
                            <textarea rows="5" class="form-control" placeholder="blog-content.." id="message" name="content" required
                                data-validation-required-message="Please enter blogpost content."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Publsh</button>
                </form>
            </div>
        </div>
    </div>

    <hr>


<%- include("partials/footer"); -%>